{% for publication in include.publications %}
    {% capture publication_title %}
        {{ publication.title }}
    {% endcapture %}
    {% capture publication_authors %}
        {{ publication.authors }}
    {% endcapture %}
    {% capture publication_venue %}
        {{ publication.venue }}
    {% endcapture %}
    {% capture publication_doi %}
        {{ publication.doi }}
    {% endcapture %}
    {% capture publication_pdf %}
        {{ publication.pdf }}
    {% endcapture %}
    {% capture publication_type %}
        {{publication.type}}
    {% endcapture %}
    {% include paper.html
        authors=publication_authors
        title=publication_title
        venue=publication_venue
        doi=publication_doi
        pdf=publication_pdf
        type=publication_type
    %}
{% endfor %}