---
layout: archive
---

<h2>Welcome to my website!</h2>

<div class="regular-text">
    <p>
    I am an assistant professor of Computer Science at the
    <a href="https://www.vu.nl/en" target="_blank">Vrije Universiteit Amsterdam</a>,
        working in the <a href="http://s2group.cs.vu.nl/" target="_blank">Software and Sustainability group</a>.
    </p>

    <p>
    I am interested in <b>software engineering</b> and <b>software architecture</b> in the domains of
    self-adaptive and cyber-physical systems.
    My goal is to develop new methods and practical tools for engineering software systems
    that are large, distributed, and embedded in the physical world.
    </p>

    <p>
    I particularly like to investigate topics in data-driven software engineering
    (using statistical methods), data analytics, architecture-based self-adaptation,
    and component-based software development.
    </p>

    <p>
        <i>This website is still work in progress; for now, you can also check my <a target="_blank" href="https://wwwbroy.in.tum.de/~gerostat/">old website at TUM</i>.
    </p>
</div>